@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font - Ubuntu */
@font-face {
  font-family: "Ubuntu";
  src: url("../public/fonts/Ubuntu.ttf")
}

/* Font - Merriweather */
@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather.ttf")
}

@layer base {
  body {
    @apply bg-ghostWhite text-richBlack-950 tracking-wide;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-lg shadow-gray-300 rounded-xl uppercase bg-gradient-to-tr from-flame-950 to-flame-800 text-ghostWhite hover:bg-gradient-to-tr hover:from-flame-900 hover:to-flame-700;
  }
}